*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 200px;

}

.navbar {
    display: flex;
    position:sticky;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(48, 215, 210);
    font-weight: bolder;
    

}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

footer {
    position: fixed;
    text-align: center;
    padding: 10px;
    background-color: rgb(48, 215, 210);
    width: 100%;
    bottom: 0;
}

.homeInfo{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 500px;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    background-color: pink;
    text-align: center;
}

.Homecontext{
    display: inline-block;
    width: 70%;
    height: 430px;
    margin-left: 210px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}


.photo{
    display: inline-block;
    align-self: center;
    position:absolute;
    top: 0px;
    bottom: 450px;
    left: 340px;
    right: 0px;
    width: 250px;
    height: 250px;
    background-image: url('Profile.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    
}


li {
    list-style: none;
    display: inline-block;
}
#Contact_Main {
    justify-content: center;
    align-items: center;
    margin: 200px;
    background-color: rgba(0, 255, 255, 0.435);
    border-radius: 10px;
    padding: 20px;

}

#titleOfContact {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.Contact_Label{
    font-size: 18px;
    font-weight: bold;
}

.contactForm{
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Suggession_Box{
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}