*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 200px;

}

.navbar {
    background-color: rgb(48, 215, 210);
    padding: 15px;
    text-align: center;
}
